table {
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
}

td,
th {
  border: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 8px !important;
}
